body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
}

.task-form {
    background: white;
    padding: 20px;
    margin: 25px 0;
    border-radius: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.task {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
}

.pending {
    color: orange;
}

.completed {
    color: green;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}